
@{
    ViewBag.Title = "Dashboard";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<h2>Dashboard</h2>

<script>
    var temp1 = '@ViewBag.dataj';
    var datass = JSON.parse(temp1);
</script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Source');
        data.addColumn('number', 'Count');
        data.addRows(datass);


        var options = {
            'title': 'BugsStatus', 'width': 400, 'height': 300
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>
<h3>Latest Bugs of the Month</h3>
<div id="chart_div"></div>
<div>
    @Html.Partial("Sim")
</div>
